.App {
	max-width: 640px;
	margin: 0 auto;
	overflow: hidden;
	color: #2f332f;
	font-size: 1.5rem;
}

.App h3 {
	margin: 0;
	padding: 30px 0;
	background-color: #3b574f;
	text-align: center;
	color: #eee;
}

.Random-result {
	display: block;
	width: 80%;
	margin: 20px auto ;
	padding: 20px;
	border: 1px solid #bbb;
	box-sizing: border-box;
	text-align: center;
}

.Random-result strong {
	display: block;
	margin-bottom: 10px;
	font-size: 20px;
}

.Random-result ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
